<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Раздел технологий</title>
    <link rel="stylesheet" href="style.css"> </head>

<body>
    <div class="container">
        <div class="header"> <img src="images/logo.jpg" alt="logo" class="logo">
            <ul class="menu">
                <li><a href="index.html">Главная</a></li>
                <li><a href="interesting.html">Самое интересное</a></li>
                <li><a href="about.html">О блоге</a></li>
                <li><a href="contact.html">Обратная связь</a></li>
            </ul>
            <div class="text">
                <h1>Новостной блог</h1>
            </div>
        </div>
        <div class="news_body">
            <h2>Водородный поезд начал курсировать по маршруту в Германии</h2>
            <img src="images/news_image.png">
            <p>
                 В Германии на одном из маршрутов впервые в мире начали ходить водородные поезда, разработанные и построенные французской компанией Alstom. Как сообщается на сайте компании, по маршруту ходят два поезда Coradia iLint.
            </p>
            <p>
                 Alstom представила свой водородный поезд в сентябре 2016 года. Coradia iLint работает на водороде, топливные ячейки размещены на крыше локомотива. Водородный поезд, на полной заправке емкостей может проехать около 1000 километров, развивая скорость до 140 километров в час. Вырабатываемое топливными ячейками электричество используется не напрямую, а заряжает литий-ионные аккумуляторы, которые уже отвечают за питание бортовых систем и электромоторов.
            </p>
            <p>
                 Этим летом сообщалось, что поезда скоро начнут перевозить пассажиров, и начиная с 17 сентября два поезда на регулярной основе включены в расписание одного из маршрутов в Нижней Саксонии. Поезда будут перевозить пассажиров между городами Куксхафен, Бремерхафен,Бремерфёрде и Букстехуде, заправляться водородом Coradia iLint будут от мобильной заправочной станции в Бремерфёрде.
            </p>
            <p>
                 До 2021 года Alstom планирует поставить в Германию еще 14 водородных поездов, которые заменят на маршрутах традиционные дизельные локомотивы.
            </p>
            <p>
                 Осенью прошлого года китайская корпорация CRRC Tangshan запустила в городе Таншань в провинции Хэбэй первый в мире трамвай на водородных топливных элементах. Новый транспорт заработал на трамвайной ветке, созданной еще 136 лет назад и соединяющей несколько промышленных районов Таншаня.
            </p>
        </div>
        <div class="footer">
            <div class="text">
                <h3>Контакты</h3>
                <p>132A Bridge Road Richmond VIC Australia. Talk to us on 1300 132 info@WofB.com</p>
                <p class="copy"><small>&copy; Все права защищены - W0fB 2018</small></p>
            </div>
        </div>
    </div>
</body>

</html>