<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="style.css"> </head>

<body>
    <div class="container">
        <div class="header"> <img src="images/logo.jpg" alt="logo" class="logo">
            <ul class="menu">
                <li><a href="index.html">Главная</a></li>
                <li><a href="interesting.html">Самое интересное</a></li>
                <li><a href="about.html">О блоге</a></li>
                <li><a href="contact.html">Обратная связь</a></li>
            </ul>
            <div class="text">
                <h1>Новостной блог</h1>
            </div>
        </div>
        <div class="about">
            <p>
                Блог с различными новостями.
            </p>
        </div>
        <div class="footer">
            <div class="text">
                <h3>Контакты</h3>
                <p>132A Bridge Road Richmond VIC Australia. Talk to us on 1300 132 info@WofB.com</p>
                <p class="copy"><small>&copy; Все права защищены - W0fB 2018</small></p>
            </div>
        </div>
    </div>
</body>

</html>